.forgotPasswordDiv {
  width: 30%;
  margin: 100px auto;
}
.forgotPasswordDiv input {
    border: solid 1px var(--text-muted);
    border-radius: 6px;
}
@media screen and (max-width: 1000px) {
  .forgotPasswordDiv {
    width: 50%;
    margin: 100px auto;
  }
}
@media screen and (max-width: 800px) {
  .forgotPasswordDiv {
    width: 70%;
    margin: 100px auto;
  }
}
@media screen and (max-width: 430px) {
  .forgotPasswordDiv {
    width: 90%;
    margin: 100px auto;
  }
}
