.homepage {
}

.heroSection {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* height: 83vh; */
  /* border: solid 1px red; */
}
.heroFirstSection {
  width: 50%;
}
.heroHeaderText {
  color: var(--text-muted);
  font-size: var(--small-text);
  text-transform: uppercase;
}

.confidence {
  color: black;
  font-size: 60px;
  font-weight: 600;
  line-height: -3px;
}

.homeHeroDescription {
  color: var(--text-muted);
  font-size: var(--small-text);
}
.homeHeroButtonContainer {
  display: flex;
  gap: 4px;
  align-items: center;
}
.homeHeroButton {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  background-color: #020617;
  color: white;
  padding: 15px;
  text-decoration: none;
  /* border-radius: 15px; */
  margin-top: 30px;
}
.homeHeroButton:hover {
  background-color: #0f172a;
  transition: all 0.3s;
}
.homeHeroButtonIcon {
  width: 1.25rem;
  height: 1.25rem;
  transition: transform 200ms ease;
}

.group:hover .icon {
  transform: translateX(4px);
}

.imageContainer {
  width: 50%;
  height: 83vh;
}
.imageContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.featuredSection {
  padding-top: 40px;
  width: 80%;
  margin: 0 auto;
}
.featuredCollectionText {
  color: var(--text-muted);
  font-size: var(--small-text);
}
.bestSellersDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bestSellersDiv h2 {
  font-size: 43px;
  color: black;
  margin-top: 0px;
}
.productsCardContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}
.swiperSlide {
  position: relative;
  overflow: hidden;
  width: 25%;
}

.swiperSlide .swiper-button-next,
.swiperSlide .swiper-button-prev {
  color: #ee6c4d;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px red;
  margin-bottom: 100px;
}

.categorySection {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 80%;
  margin: 0 auto;
}
.categoryDiv {
  text-decoration: none;
  width: 50%;
  height: 600px;
  position: relative;
  color: white;
  overflow: hidden;
}

.categorySectionImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(70%);
  scale: 1;
  transition: all 0.4s ease-in-out;
}
.categoryDiv:hover .categorySectionImage {
  scale: 1.05;
}
.categorySectionText {
  position: absolute;
  width: 100%;
  bottom: 30px;
  left: 30px;
}
.categorySectionText p {
  font-size: var(--small-text);
  color: white;
}
.categorySectionText h3 {
  font-size: var(--large-text);
  margin-bottom: 15px;
}
.exploreNowBtn {
  color: white;
  background-color: transparent;
  padding: 10px 20px;
  outline: none;
  border: solid 1px white;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
.exploreNowBtn:hover {
  color: black;
  background-color: white;
}
.ourStorySection {
  width: 100%;
  background-color: #0f172a;
  margin-top: 30px;
  padding: 40px 0;
}
.ourStoryDiv {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
  /* border: solid 1px red; */
}
.ourStoryText {
  width: 45%;
  padding: 30px 0;
}
.ourStoryText h5 {
  color: var(--text-muted);
  font-size: var(--small-text);
}
.ourStoryText p {
  color: #d1d5db;
  /* font-size: var(--small-text); */
  margin: 35px 0px;
  font-weight: 400;
}
.ourStoryText h2 {
  font-size: 40px;
  color: white;
  margin-top: 20px;
}
.learnMoreBtn {
  color: white;
  background-color: transparent;
  padding: 20px;
  outline: none;
  border: solid 1px white;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
.learnMoreBtn:hover {
  color: black;
  background-color: white;
  margin-top: 20px;
}
.ourStoryCards {
  width: 48%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  /* border: solid 1px red; */
  place-items: center;
  margin-top: 30px;
}
.ourStoryCard {
  width: 100%;
  height: 200px;
  padding: 15px;
  border: solid 1px var(--text-muted);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ourStoryCard:hover {
  border: solid 1px white;
}
.ourStoryCard h3 {
  color: white;
  font-size: var(--medium-text);
}
.ourStoryCard p {
  color: var(--text-muted);
  margin-top: 15px;
}

@media screen and (max-width: 1103px) {
  .ourStoryDiv {
    display: flex;
    flex-direction: column;
    /* border: solid 1px red; */
  }
  .ourStoryCards {
    width: 100%;
    gap: 25px;
  }
  .ourStoryText {
    width: 100%;
    padding: 30px 0;
  }
}

@media screen and (max-width: 938px) {
  .heroSection {
    width: 90%;
    flex-direction: column;
    margin-top: 20px;
    /* border: solid 1px red; */
  }
  .categorySection {
    width: 90%;
  }
  .featuredSection {
    width: 90%;
  }
  .heroFirstSection {
    width: 100%;
  }
  .ourStoryDiv {
    width: 90%;
    /* border: solid 1px red; */
  }
  .imageContainer {
    width: 100%;
    margin: 20px;
  }
}
@media screen and (max-width: 767px) {
  .categorySection {
    flex-direction: column;
  }
  .categoryDiv {
    width: 100%;
  }
}
@media screen and (max-width: 534px) {
  .ourStoryCards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 400px) {
  .confidence {
    color: black;
    font-size: 40px;
  }
  .heroFirstSection h1 {
    color: black;
    font-size: 45px;
    font-weight: 600;
  }
  .categorySectionText {
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 30px;
  }
  .categorySectionText {
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 10px;
  }
}
