.resetPasswordDiv {
  width: 25%;
  margin: 45px auto;
}
.resetPasswordDiv h2 {
  text-align: center;
}
.resetPasswordForm {
  /* border: solid 1px red; */
  /* display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-content: center; */
}
.inputDiv {
  /* margin: 0 auto; */
  width: 100%;
}
.resetPasswordForm input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: solid 1px var(--text-muted);
  margin-top: 15px;
}

.resetPasswordForm button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  .resetPasswordDiv {
    width: 35%;
  }
}
@media screen and (max-width: 800px) {
  .resetPasswordDiv {
    width: 40%;
  }
}
@media screen and (max-width: 764px) {
  .resetPasswordDiv {
    width: 60%;
  }
}
@media screen and (max-width: 542px) {
  .resetPasswordDiv {
    width: 70%;
  }
}
@media screen and (max-width: 400px) {
  .resetPasswordDiv {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .resetPasswordDiv {
    width: 90%;
  }
}
