.productCard {
  width: 100%;
  /* border: solid 1px red; */
  height: 550px;
  text-decoration: none;
}
.quickAddDiv {
  position: relative;
  /* border: solid 1px blue; */
  height: 400px;
  overflow: hidden;
}
.productName {
  font-size: var(--medium-text);
  color: black;
  /* border: solid 1px red; */
}
.productImage {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
  scale: 1;
}
.quickAddBtn {
  background-color: white;
  padding: 10px;
  outline: none;
  border: none;
  color: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  width: 90%;
  margin: 0 auto;
  font-size: var(--small-text);
  /* border: solid 1px red; */
  opacity: 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  /* pointer-events: all; */
}
.quickAddDiv:hover .productImage {
  scale: 1.1;
  /* overflow: hidden; */
}
.quickAddDiv:hover .quickAddBtn {
  opacity: 1;
}
.productCardCategory {
  color: var(--text-muted);
  /* font-size: var(--small-text); */
}
.productTitle {
  font-size: var(--large-text);
}
.productPrice {
  color: black;
  font-size: var(--small-text);
}

@media screen and (max-width: 546px) {
  .productImage {
    width: 100%;
    height: 600px;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
    scale: 1;
  }
}
