.successPage {
  width: 25%;
  margin: 0 auto;
  text-align: center;
  margin-top: 45px;
}

@media screen and (max-width: 1152px) {
  .successPage {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    margin-top: 45px;
  }
}

@media screen and (max-width: 750px) {
  .successPage {
    width: 60%;
  }
}
@media screen and (max-width: 486px) {
  .successPage {
    width: 80%;
  }
}
